<%= error_messages_for :user %>

<% form_for(@user) do |f| %>
  <p>
    <%= f.submit button_value %> <%= link_to '戻る', users_path %>
  </p>

  <p>
    <b>アカウント</b><br />
    <%= f.text_field :login, :size => 100 %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :email, :size => 100 %>
  </p>

  <p>
    <b>パスワード</b><br/>
    <%= f.password_field :password, :size => 100 %>
  </p>

  <p>
    <b>パスワード確認</b><br/>
    <%= f.password_field :password_confirmation, :size => 100 %>
  </p>

  <p>
    <%= f.submit button_value %> <%= link_to '戻る', users_path %>
  </p>
<% end %>
