<%= error_messages_for :site %>

<% form_for(@site) do |f| %>
<table class="simple_table">
  <tr>
    <th colspan="2">URL・検索ワード</th>
  </tr>
  <tr class="odd">
    <td><b>URL:</b></td>
    <td><%= f.text_field :url, :size => 50 %></td>
  </tr>

<% @word ||= [] %>
<%- SEARCH_WORD_NUM.times do |i| -%>
  <tr class="<%= cycle "even", "odd" %>">
    <td><b>検索ワード<%= i+1 %>:</b></td>
    <td>
      <%= text_field_tag "word_#{i}", @word[i] ? @word[i][:value] : "", :size => 30 %>
    </td>
  </tr>
<%- end -%>
</table>

<div class="buttons">
  <button type="submit" class="positive">
    <%= image_tag("check.gif")+button_value %>
  </button>

  <%= link_to image_tag("cancel.gif")+"戻る", sites_path, :class => "negative" %>
</div>
<% end %>
