<h1>URL・検索ワード一覧</h1>

<% if flash[:notice] -%>
<div class="notice"><%= flash[:notice] %></div>
<% end -%>

<div class="buttons">
  <%= link_to image_tag("check.gif")+"登録", new_site_path, :class => "positive" %>
  <span style="clear:both">&nbsp;</span>
</div>

<p>
<%= will_paginate @sites, :prev_label=>'&#171;前', :next_label=>'次&#187;' %>
</p>
<br />

<table class="simple_table" width="750px">
  <tr>
    <th>URL</th>
    <th>検索ワード</th>
    <th width="160">アクション</th>
  </tr>
<%- for site in @sites -%>
  <%- site.search_words.each_with_index do |search_word, i| -%>
  <tr style="background:white">
    <%- if i == 0 %>
    <td rowspan="<%= site.search_words.size %>" style="vertical-align:top"><%=h site.url %></td>
    <%- end -%>
    <td><%=h search_word.word %></td>
    <%- if i == 0 %>
    <td width="160" rowspan="<%= site.search_words.size %>" style="padding:0 !important">
      <div class="buttons" style="padding-left:10px">
        <%= link_to image_tag("edit.gif")+"編集", edit_site_path(site), :class => "positive" %>
        <%= link_to image_tag("cancel.gif")+"削除", site, :class => "positive", :confirm => "本当に削除してよろしいですか？", :method => :delete %>
      </div>
    </td>
    <%- end -%>
  </tr>
  <%- end -%>
<%- end -%>
<%- if @sites.empty? -%>
  <tr class="odd" style="text-align:center">
    <td colspan="3" style="width:400px">登録されたURL・検索ワードはありません</td>
  </tr>
<%- end -%>
</table>

<p>
<%= will_paginate @sites, :prev_label=>'&#171;前', :next_label=>'次&#187;' %>
</p>

<div class="buttons">
  <%= link_to image_tag("check.gif")+"登録", new_site_path, :class => "positive" %>
  <span style="clear:both">&nbsp;</span>
</div>
